<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <a href="#" class="navbar-brand mr-3">Order Mangement System</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="currentUser">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link">
                        <fa name='product-hunt'></fa> Products
                    </a>
                    <a href="/orders" class="nav-item nav-link">
                        <fa name='shopping-cart'></fa> Orders
                    </a>
                    <a href="/health" class="nav-item nav-link">
                        <fa name='heartbeat'></fa> Health
                    </a>
                </div>

                <div class="navbar-nav ml-auto">
                    <li ngbDropdown class="nav-item dropdown">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, {{currentUser.firstName}} {{currentUser.lastName}}
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#"><fa name='heartbeat'></fa> Health</a>
                            <a class="dropdown-item" href="#" (click)='logout()'><fa name='sign-out'></fa>Logout</a>
                        </div>
                    </li>                    
                </div>
            </div>
        </div>
    </nav>
</header>
<main role='main' class='container'>
    <router-outlet></router-outlet>
</main>
<footer class='footer'>
    <div class='container text-center'>
        <span class='text-muted'>Copyright &copy; 2019</span>
    </div>
</footer>